body {
    background-color: #556072;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.intro {
    width: 300px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}

.start,
.stop {
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 50px;
    padding: 20px 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(25, 25, 25, .6);
}

.start {
    color: hsl(30, 90%, 95%);
    background-color: #F5993A;
    margin-top: 15px;
}

.stop {
    color: hsl(30, 90%, 95%);
    background-color: #C33E5D;
}

.readings {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(0deg, #333 0%, transparent 100%);
    z-index: 10
}

.layout {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 20vh 35vh 35vh 10vh;
    grid-template-areas: 
        "header header header header"
        "athmospheres chart chart chart"
        "psi chart chart chart"
        "footer footer footer footer"
    ;
}

.footer { grid-area: footer }
.footer section {
    width: 25%;
    float: left;
    text-align: center;
}

.header { grid-area: header }
.header section {
    float: left;
    width: 85%;
    padding: 1%;
}

.header div {
    float: left;
    width: 11%;
    padding: 1%;
}

.athmospheres { grid-area: athmospheres }
.psi { grid-area: psi }
.athmospheres,
.psi {
    text-align: center;
}

.chart { grid-area: chart}


select {
    height: 52px;
}