@import url('https://use.typekit.net/ngs6vdy.css');

.reading {
    color: #FFF;
}

.value {
    font-family: balboa-extra-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px
}
